@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&family=Cinzel&family=EB+Garamond&family=Josefin+Slab&family=Libre+Baskerville&family=Playfair+Display&display=swap');



body {
  font-family: 'Libre Baskerville', serif;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  margin: 100px 0;
}

h1 {
  font-size: 3rem;
}

.example p {
  margin: 5px 0;
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
}

.example {
  margin-bottom: 20px;
}

.poemBox {
  background-color: antiquewhite;
  width: 300px;
  height: 400px;
  display: flex;
  margin: 30px 0;
  padding: 20px;
}

.poemGenerator {
  display: flex;
  flex-direction: column;
  align-items: Center;
  margin-right: 125px;
  margin-left: 50px;
  margin-top: 30px;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

label {
  margin-bottom: 10px;
}